apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: "simple-kubernetes-webhook.acme.com"
webhooks:
  - name: "simple-kubernetes-webhook.acme.com"
    namespaceSelector:
      matchLabels:
        admission-webhook: enabled
    rules:
      - apiGroups: ["*"]
        apiVersions: ["*"]
        # match all operations
        operations: ["CREATE", "UPDATE"]
        # match all resources
        resources: ["*"]
        # only namespaced resources will match this rule
        scope: "Namespaced"
    clientConfig:
      service:
        namespace: default
        name: simple-kubernetes-webhook
        path: /tag-resource
        port: 443
      caBundle: |
        LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURRekNDQWl1Z0F3SUJBZ0lVQXRlcFF1MkJPZGRr
        anBTRWl6YklwRHNJaWJFd0RRWUpLb1pJaHZjTkFRRUwKQlFBd01URUxNQWtHQTFVRUJoTUNRVlV4SWpB
        Z0JnTlZCQU1NR1hOcGJYQnNaUzFyZFdKbGNtNWxkR1Z6TFhkbApZbWh2YjJzd0hoY05NalV3TkRJM01E
        TXhNekV5V2hjTk1qWXdOREkzTURNeE16RXlXakF4TVFzd0NRWURWUVFHCkV3SkJWVEVpTUNBR0ExVUVB
        d3daYzJsdGNHeGxMV3QxWW1WeWJtVjBaWE10ZDJWaWFHOXZhekNDQVNJd0RRWUoKS29aSWh2Y05BUUVC
        QlFBRGdnRVBBRENDQVFvQ2dnRUJBT1M2dmlUdzBlaVUwWTR6Qm41L0EwZXNHU2V1K1Y5VwpJcnVnVzBs
        c2J3S3dzUkJ0VjhnLzAyY1VmdnQyblBwa25GOGpQQW51bW1BT2tBK1FDSkpkUXc5YUN5YWpZeHV2ClBa
        d1oyREVYQkVpMGpSN1ArOVBTenRIVHFHeEluS2pYMzZCZlY5T05RUXp6STBiTk9DemhpanBHZnRucHNQ
        cEEKWHE4a0Fuay9ZMVZmMENWaHdlaDRyQWxRMGdqZTlIMlJLM1BSNFV1M3B6d20wcXFHbFBjdmk5MDdK
        V1FjVWdPcgo5dVFqN0duWGVHUUcwWTk3QzNRb1JOeWJjakNDS3VEUTZkeVozWENleGFFRFRCdG96cXUv
        Q2NHd0V5R3FsNE9GCmRuMmFuQ3JXSnVYYjRncVEvRzNVd2xpMjU0cXBocDFZdHg4TkNFSERsT0t5Q1hY
        V0xYYzBJTE1DQXdFQUFhTlQKTUZFd0hRWURWUjBPQkJZRUZCVlJuK2k0SWFCanpmanVtWHdVTEhjbms2
        TDJNQjhHQTFVZEl3UVlNQmFBRkJWUgpuK2k0SWFCanpmanVtWHdVTEhjbms2TDJNQThHQTFVZEV3RUIv
        d1FGTUFNQkFmOHdEUVlKS29aSWh2Y05BUUVMCkJRQURnZ0VCQUtMTTlPS1lhYW8yWTI1WDhFQkloZjl3
        ZlpHbGNNZStzYVljMG9WWXFrV1Mrc1RUUExPbFlwVEIKc2dVK0tKVklqS1hTMHFoVFlrREV6TzVldXRG
        a0hLeHBPQ3FPeC9makpQWS9xbTNYelhRNThmT0d5ZlJSaVc1SwpXKzRWU0gvclpGR2s4T3g0b3VRN0kx
        MVNOWEJGcjgrWDhDM0p4cFdEUDZjaUIzMFcvbkZlNVRQM1MyaEhXRGtzCkU5dmV5U21TZVIxaGNGSWZZ
        ZnFKei9YenFMZkZ5VjZ1NXlNejlnZGdwUUlHQ095UEh1ckwvc0dPeEpXNHBTTHIKai91NGQ2U0dqOXBW
        QVJwQjBrWDFWNGNmZ2JRdGcyZFdhWDc0U1B3MGNwd09aeEQ1aFpkN3VUSVNjZ3BMeEZtTgpRVDVzR2VJ
        ZlcwQlhqdmlIZ0ZaV0Y5THZPUXNkbUMwPQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
    admissionReviewVersions: ["v1"]
    sideEffects: None
    timeoutSeconds: 2
