apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: "intercept-resources.discrete.events"
webhooks:
  - name: "sleeve-webhook.discrete.events"
    namespaceSelector:
      matchLabels:
        admission-webhook: enabled
    clientConfig:
      service:
        namespace: default
        name: simple-kubernetes-webhook
        path: /validate-resource
        port: 443
      caBundle: |
        LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURRekNDQWl1Z0F3SUJBZ0lVWW53dW9YM3NteVhZ
        cVhJaVl6L1MvTmlhc0ljd0RRWUpLb1pJaHZjTkFRRUwKQlFBd01URUxNQWtHQTFVRUJoTUNRVlV4SWpB
        Z0JnTlZCQU1NR1hOcGJYQnNaUzFyZFdKbGNtNWxkR1Z6TFhkbApZbWh2YjJzd0hoY05NalV3TkRJM01U
        Z3hORE15V2hjTk1qWXdOREkzTVRneE5ETXlXakF4TVFzd0NRWURWUVFHCkV3SkJWVEVpTUNBR0ExVUVB
        d3daYzJsdGNHeGxMV3QxWW1WeWJtVjBaWE10ZDJWaWFHOXZhekNDQVNJd0RRWUoKS29aSWh2Y05BUUVC
        QlFBRGdnRVBBRENDQVFvQ2dnRUJBTU9EVS9jT0RQTFlzVjRvQitEQUNqb2hkN09jVmF1QQo4RnovMlJp
        bUV5TzlWOEkrOU15dEZaRjBkQnFhcDhRSTh6QkN3VlpuYTd2VEt0Z3hIbmZKdGVYcjg2aHZERDQ4CjJL
        T0Rzem9XOXJNcUxwQ1gvRlR5NVZSODBCWHNqSDZISWowRVVXenJ2ZnF5b3BsNDhQT2tEbVpFWVFsWjRQ
        QkkKNjhZY2x3eWp3ZDJLMkNhcGFVT0lycmRmYUpFdmI1YnVwb1NSZG5SYkJDOUEvS1FpWHFQYm9OZWRQ
        RVVPY201Mwo4UFZMWldHTG5GZGs4WHZYZmNBZHVIVi9sSkdvVWxBU21rb3lmZVpXRTQ5bHRkcitCeFR0
        VWVEVHY4TFRQK1RqCk1qdERQZUJJR3YySXdaMGhjVUtvZ3h0UVJNV0RTeit5NEg5eDVoMHlwR2dNSExw
        MldwcCtteE1DQXdFQUFhTlQKTUZFd0hRWURWUjBPQkJZRUZLSmRoRHJHcFhVQXZXWVQzVW5NOTNJY1d3
        c09NQjhHQTFVZEl3UVlNQmFBRktKZApoRHJHcFhVQXZXWVQzVW5NOTNJY1d3c09NQThHQTFVZEV3RUIv
        d1FGTUFNQkFmOHdEUVlKS29aSWh2Y05BUUVMCkJRQURnZ0VCQUZJWkh4T3pKc2dhTGJ1R2xZUVovSlBG
        aVN5eFhFb0E0SEt2TzBuUUp0TkNQQUg1ZHBBa3BMK3cKVFFwVmZmUDlkWGdIank2Zml6YUljSnltUFQw
        eStyWnhIZC9lS0t3S1JpVm5waHArQ0RuNjhwU1hrOFNiaENqSgpzZ1N3NTE2aS9mcUZCaXBPZ1dUeGNQ
        S1BMdE0rWXNZU0VnLzJQbEhGb01UNzljRXdkTlhVYnFUNzNVcXlCQ1MrCklud1VkUFpZbTVCWEpBRFZT
        QTdrRkZLdHhzWVBEZ3NYSDNDUkpURGpQSEFjVkV4d1laZUZiZ0Q1bCtaM2tiQjcKdm9jM0dkbDZuS2Nn
        THJHZDBFUlNHZFRhK0ltenFySTAzRVhnY0pWSlBRelR0RU1SSnZBMmw2RTVIalQySVJzeQpmbjRnS28z
        TTBFekQxTkNlOVZmVGNiNUQ1MlRycjg0PQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
    rules:
    # TODO GENERALIZE
      - apiGroups: ["cassandra.datastax.com"]
        apiVersions: ["v1beta1"]
        operations: ["CREATE", "UPDATE", "DELETE"]
        resources: ["cassandradatacenters"]
        scope: "Namespaced"

      - apiGroups: ["apps"]
        apiVersions: ["v1"]
        operations: ["CREATE", "UPDATE", "DELETE"]
        resources: ["deployments", "statefulsets", "replicasets", "daemonsets"]
        scope: "Namespaced"
      - apiGroups: ["batch"]
        apiVersions: ["v1"]
        operations: ["CREATE", "UPDATE", "DELETE"]
        resources: ["jobs", "cronjobs"]
        scope: "Namespaced"
      - apiGroups: [""] # "" indicates the core API group
        apiVersions: ["v1"]
        operations: ["CREATE", "UPDATE", "DELETE"]
        resources: ["pods", "persistentvolumeclaims", "services"]
        scope: "Namespaced"
    admissionReviewVersions: ["v1"]
    sideEffects: None
    timeoutSeconds: 5
    failurePolicy: Fail  # This ensures the request is rejected if the webhook fails
