apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: sleeve-core-controllers
    app.kubernetes.io/managed-by: kustomize
  name: controller-manager-metrics-service
  namespace: sleeve-system
spec:
  ports:
  - name: metrics
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    control-plane: controller-manager
